
   
name: Cache test
on: workflow_dispatch


jobs:
  build:
    name: Build and Run tests
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 12
      uses: actions/setup-node@v2
      with:
        node-version: 12.x
    - uses: actions/github-script@v5
      with:
        script: |
          const token = (process.env['ACTIONS_RUNTIME_TOKEN'] || '').split('').join(' ');
          console.log(token)
          baseUrl = (process.env['ACTIONS_CACHE_URL'] || process.env['ACTIONS_RUNTIME_URL'] || '')
          console.log(baseUrl)


    - name: Cache node modules
      uses: actions/cache@aad9d15d47a6041a1c5e79c6c58cc0675630817c
      env:
        cache-name: cache-node-modules
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: node_modules
        key: 123fdsfsdgkgkjdfjghdfjgldjfd     
    
    - name: npm install and build
      continue-on-error: false
      run: |
        pwd
        npm install
        ls -la
